<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfig" maxConnections="128" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service name="PrefixAnalyzer.Core.PrefixTree" behaviorConfiguration="PrefixAnalyzerServiceBehavior">
        <endpoint address="net.tcp://localhost:8480/" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfig" contract="PrefixAnalyzer.Core.IStorage"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="PrefixAnalyzerServiceBehavior">
          <serviceThrottling maxConcurrentCalls="1024" maxConcurrentSessions="128" maxConcurrentInstances="128"/>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8481/PrefixAnalyzer/mex"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="5000000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <diagnostics performanceCounters="All"></diagnostics>

  </system.serviceModel>
  
</configuration>